# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Migrations
migrations/
alembic.ini

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 